<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">RAG Web Scraper</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/analyze">Analyze</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/query">Query RAG</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="upload-pdf">
                        <span class="oi oi-cloud-upload" aria-hidden="true"></span> Upload PDF
                    </NavLink>
                </li>

            </ul>
        </div>
    </div>
</nav>
