@page "/"

<h1 class="display-4 text-primary">Welcome to RAG Web Scraper</h1>

<p class="lead">
    Use the Analyze tool to scrape pages and assess sentiment and keywords.
</p>

<a class="btn btn-success me-2" href="/analyze">Analyze url Now</a>
<a class="btn btn-success me-2" href="/upload-pdf">Analyze pdf Now</a>
<a class="btn btn-success me-2" href="/query">Query RAG</a>
<a class="btn btn-success me-2" href="pdf-scraper">Scrape PDFs </a>